* {
    box-sizing: border-box;
}

body {
    background-image: url(/Users/katherineingram/Documents/ccs/homework/sk8-main/images/bg-copy.jpg);
    font-size: 11px;
}
span {
    font-style: italic;
}
// div {
//     background-color: aqua;
// }

.skaters-section-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-link {
    font-size: 50px;
    padding: 5px;
    color: black;
    padding-top: 0;
    margin-top: 0;
    line-height: 0;
    margin-bottom: 10px;
}
.nav-link:hover {
    color: red;
}
.nav-text {
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 10px;
    text-decoration: none;
    color: white;
}

.nav-text:hover {
    color: red;
}

button.col a {
    background-color: red;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}
button.col {
    background-color: red;
    color: white;
    text-transform: uppercase;
    border-bottom: gray 5px solid;
}

.carousel {
    margin-top: 20px;
}

.slide {
    border: 5px solid white;
    height: auto;
}

.carousel-inner {
    height: 245px;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -50px;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
}
.gridpic {
    opacity: 0.4;
}

.row-three {
    margin-top: 35px;
}
.col-sm {
    background-color: #fff;
    height: 265px;
    margin-top: 55px;
    padding: 10px;
    margin: 12px 15px 12px 16px;
    display: flex;
    flex-direction: column;
}
.col-sm button {
    border: 0px;
    color: red;
}
.rowtwo {
    height: 150px;
    margin-top: 10px;
    display: flex;
}

.arrow-pointer {
    width: 250px;
    height: 50px;
    background: red;
    position: relative;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;

    &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 25px solid red;
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
    }

    &:before {
        content: "";
        position: absolute;
        right: -25px;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 25px solid red;
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
    }
}

.col-sm-2 {
    height: 165px;
    width: 19%;

    h2 {
        color: white;
        position: absolute;
        font-size: 20px;
        line-break: auto;
    }
}
.col-sm-2 img {
    height: 80%;
    border: 3px solid white;
}

.rowthree {
    height: 150px;
    margin-top: 10px;
    display: flex;
    .col-sm-5 {
        height: 100%;
        margin-left: 22%;
        padding: 0;
        width: 40.97%;
        height: 100%;
        margin-left: 22.09%;
        padding: 0;
        h2 {
            color: white;
            position: absolute;
            font-size: 20px;
            line-break: auto;
        }
        img {
            border: 3px solid white;
            width: 90%;
            height: 80%;
        }
    }
}
